In [1]:
import pandas as pd
movie_test = "Pelis_short.csv"
movie_ratings = "Movie_Ratings.csv"

In [4]:
from Knn import *
from formulas import *

In [2]:
def getDataFrameAndUsers(df_selected):
    df = pd.read_csv(df_selected, index_col=0)
    users = df.columns
    return df, users

In [3]:
df, users =  getDataFrameAndUsers(movie_test)

In [6]:
def find_knn_for_column(df, target_column, distance_type='euclidean', k=5):
    """
    Función principal para encontrar los K vecinos más cercanos.
    
    Parámetros:
    df -- DataFrame de pandas
    target_column -- nombre de la columna objetivo
    distance_type -- tipo de distancia a usar ('euclidean', 'manhattan', 'pearson', 'cosine')
    k -- número de vecinos a retornar
    
    Retorna:
    DataFrame con los k vecinos más cercanos y sus distancias
    """
    # Seleccionar la función de distancia
    distance_functions = {
        'euclidean': euclidean_distance,
        'manhattan': manhattan_distance,
        'pearson': pearson_distance,
        'cosine': cosine_distance
    }
    
    if distance_type not in distance_functions:
        raise ValueError(f"Tipo de distancia no válido. Opciones: {list(distance_functions.keys())}")
    
    # Crear el calculador de KNN
    knn_calculator = KNNCalcularDistancia(distance_functions[distance_type])
    
    # Obtener los K vecinos más cercanos
    return knn_calculator.get_knn(df, target_column, k)

In [11]:
find_knn_for_column(df, 'Patrick C','manhattan', 4)

         Distancia
Thomas        10.0
Heather       11.0
aaron         11.0
Bryan         14.0

In [13]:
find_knn_for_column(df, 'Patrick C','cosine', 4)

         Distancia
Thomas    0.033869
Bryan     0.043499
Heather   0.046799
aaron     0.054774

In [14]:
find_knn_for_column(df,'Patrick C','euclidean', 4)

         Distancia
Thomas    4.000000
Heather   4.123106
aaron     4.123106
Bryan     4.472136

In [15]:
find_knn_for_column(df,'Patrick C','pearson', 4)

           Distancia
Thomas      0.288943
Bryan       0.426929
aaron       0.610045
Patrick T   0.814919